CONFIG_SERVICE_PASSWORD: password
NOTIFICATION_SERVICE_PASSWORD: password
STATISTICS_SERVICE_PASSWORD: password
ACCOUNT_SERVICE_PASSWORD: password
MONGODB_PASSWORD: password

image:
  repository: leonid132/piggymetrics-account-service:latest
  pullPolicy: IfNotPresent
replicaCount: 1
metadata:
  name: account-service
labels:
  service: account-service
selector:
  service: account-service
  
service:
  type: ClusterIP
  port: 6000
  targetport: 6000

containers:
  name: account-service
serviceAccount:
  create: true

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
securityContext: {}

resources: 
  limits:
    memory: 700Mi
  requests:
    cpu: 100m
    memory: 100Mi


nodeSelector: {}

tolerations: []

affinity: {}
